<section>
  <table>
    <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Username</th>
      <th>E-mail address</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let student of students">
      <td>{{student.id}}</td>
      <td>{{ student.name }}</td>
      <td>{{ student.username }}</td>
      <td><a href="{{student.email}}">{{ student.email }}</a></td>
      <td>
        <a href="#" class="button button-green">Edit</a>
        <button class="button button-red" (click)="delete(student)">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</section>
