<section *ngIf="student">
  <h2>Edition #{{ student.id }} <i>{{ student.name }}</i></h2>

  <div>
    <label for="name">First and Last name:</label>
    <input type="text" id="name" [(ngModel)]="student.name">
  </div>

  <div>
    <label for="email">Address e-mail:</label>
    <input type="email" id="email" [(ngModel)]="student.email">
  </div>

  <div>
    <button (click)="onGoBack()" class="button">Back</button>
    <button (click)="onGoBack()" class="button button-green">Save</button>
  </div>
</section>
