/* Set the box-sizing property for all items */
* {
  box-sizing: border-box;
}

/* Properties for body */
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

/* Container class that is limited in width and centers content */
/* Setting the left and right margins to "auto" centers the container */
.container {
  margin: auto 20px;
  width: 100%;
}

/* Tables */
table {
  width: 100%;
}
table th,
table td {
  padding: 8px;
  text-align: left;
}
/* We shade every second (even) row of the table */
/* We use tbody to make sure we are not shading the header - this preserves the order of the shading */
table tbody > tr:nth-child(odd) {
  background: #dddddd;
}

/* Buttons */
.button {
  display: inline-block;
  margin: 2px 0;
  padding: 12px 30px 14px;
  border: 0;
  background: #999999;
  border-radius: 6px;
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}
/* Button on mouse hover*/
.button:hover {
  background: #888888;
}
/* Button in active state */
.button:active,
.button:focus {
  background: #777777;
}

/* Green button */
.button-green {
  background: #33cc55;
}
.button-green:hover {
  background: #22bb44;
}
.button-green:active,
.button-green:focus {
  background: #22aa44;
}

/* Red button */
.button-red {
  background: #dd3333;
}
.button-red:hover {
  background: #cc2222;
}
.button-red:active,
.button-red:focus {
  background: #bb2222;
}

/* Media Query for devices with a minimum width of 992px */
/* ie for desktop computers */
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
/* You can add global styles to this file, and also import other style files */
